---
---
@import "_variables";
@import "_base";

$color-bar-width: 8rem;
article.navbar-wrapper {
  // width: 30%;
  // height: 100%;
  // position: absolute;
  // left: 0;
  // top: 0;
  padding: 0;
}

article.content-wrapper {
  // position: absolute;
  // left: 30%;
  // top: 0;
  // overflow-y: auto;
  // width: 70%;
  // height: 100vh;
}

article.nav {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  // section.color-bar {
  //   background-color: $brand-color;
  //   width: $color-bar-width;
  //   height: 100%;
  //   display: block;
  //   position: absolute;
  //   left: 0;
  // }
  section.content {
    // padding-left: $color-bar-width;
    border-left: $color-bar-width solid $brand-color;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    div.blurb {
      position: fixed;
      margin-top: 16rem;
      h1 {
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        transition: ease all .5s;
        border-bottom: 2px dashed $font-grey;
        a {
          text-transform: uppercase;
          font-weight: bold;
          color: black;
          text-decoration: none;
          &:hover {
            color: $brand-color-dark;
          }
        }
      }
      h4 {
        cursor: default;
      }
      ul li {
        display: inline-block;
        margin: .75rem .5rem;
        a {
          padding-bottom: .5rem;
          border-bottom: 2px solid white;
          transition: ease all .5s;
          color: $brand-color-dark;
          &:hover, &.active {
            text-decoration: none;
            border-color: black;
            color: black;
          }
        }
      }
    }
  }
  @media (max-width: 991.99px) {
    border-top: 2rem solid $brand-color;
    min-height: 0rem;
    height: 100%;
    section.content {
      border-left: none;
      div.blurb {
        position: static;
        margin-top: 8rem;
      }
    }
  }
}

.sub-page {
  padding: 8rem 0rem;
  padding-right: $color-bar-width;
  @media (max-width: 991.99px) {
    padding-right: 0;
  }
}

article.home {
  background-image: url('/img/better.JPG');
  background-size: cover;
  height: 100%;
  padding: 0;
  margin-right: -15px;
  background-position: right bottom;
  @media (max-width: 991.99px) {
    margin-left: -15px;
    margin-top: 8rem;
    height: 48rem;
  }
}

article.about {
  @extend .sub-page;
  div.left {
    overflow: hidden;
    img {
      max-width: 100%;
      margin-bottom: 4rem;
    }
  }
  div.right {
    h1, p {
      margin-bottom: 2rem;
    }
  }
}

article.contact {
  @extend .sub-page;
  h1 {
    margin-bottom: 4rem;
  }
  form.contact-form {
    label {
      display: block;
      // font-weight: bold;
      text-transform: lowercase;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 2rem;
      padding: .6rem;
      border: none;
      transition: ease border .5s;
      border: 2px solid $brand-color;
      &:focus, &:hover {
        outline: none;
        box-shadow: none;
        border: 2px solid black;
      }
    }
    .btn-primary {
      width: 100%;
      transition: ease all .3s;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.6rem;
      border-radius: 0;
      padding: 1rem;
      border: none;
      background-color: $brand-color-dark;
      // border: 2px solid $brand-color;
      color: white;
      text-transform: lowercase;
      &:hover, &:focus {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: black;
      }
    }
    textarea {
      width: 100%;
    }
  }
}

article.blog {
  @extend .sub-page;
  section.post {
    position: relative;
    left: 0rem;
    transition: ease all .3s;
    &:hover {
      left: -.5rem;
    }
    margin-bottom: 8rem;
    .read-more {
      // font-weight: bold;
      color: $brand-color-dark;
    }
    a {
      left: 0;
      .date {
        font-weight: bold;
        margin-bottom: 2.5rem;
      }
      img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
      }
      h1 {
        color: black;
        margin-bottom: .5rem;
      }
      p {
        transition: ease all .3s;
        color: $font-grey;
      }
      .arrow {
        color: black;
        transition: ease all .5s;
        opacity: 0;
        position: relative;
        left: -6px;
      }
    }
    a:hover {
      h1, p {
        // color: black;
      }
      .read-more {
        color: black;
        .arrow {
          opacity: 1;
          left: 2px;
        }
      }
    }
  }
}

$google-drive-bg-color: #d1d1d1;
article.resume {
  @extend .sub-page;
  height: 100%;
  .container {
    height: 100%;
  }
  iframe {
    border: 2px solid $google-drive-bg-color;
    min-height: 50rem;
  }
}

article.blog {
  @extend .sub-page;
  h2 {
    font-size: 1.6rem;
    margin-top: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  h3 {
    color: $font-grey;
    font-weight: bold;
    margin-top: 1rem;
  }
  .heading {
    margin-bottom: 8rem;
  }
  .banner {
    width: 100%;
    margin-top: 4rem;
  }
  .content {
    padding-left: 2rem;
    border-left: 2px solid $brand-color;
  }
  .gallery {
    -webkit-column-count: 3;
    -webkit-column-gap:   15px;
    -moz-column-count:    3;
    -moz-column-gap:      15px;
    column-count:         3;
    column-gap:           15px;
    img {
      width: 100%;
      height: auto;
      // transition: ease opacity .3s;
      margin-bottom: 15px;
      &:hover {
        opacity: .8;
      }
    }
    @media (max-width: 991.99px) {
      -webkit-column-count: 2;
      -webkit-column-gap:   15px;
      -moz-column-count:    2;
      -moz-column-gap:      15px;
      column-count:         2;
      column-gap:           15px;
    }
  }
  p {
    margin-bottom: 2rem;
  }
}

article.portfolio {
  @extend .sub-page;
  section.columns {
    -webkit-column-count: 3;
    -webkit-column-gap:   15px;
    -moz-column-count:    3;
    -moz-column-gap:      15px;
    column-count:         3;
    column-gap:           15px;
    img {
      width: 100%;
      height: auto;
      // transition: ease all .3s;
      margin-bottom: 15px;
      &:hover {
        opacity: .8;
      }
    }
    // @media (max-width: 991.99px) {
    //   -webkit-column-count: 2;
    //   -webkit-column-gap:   15px;
    //   -moz-column-count:    2;
    //   -moz-column-gap:      15px;
    //   column-count:         2;
    //   column-gap:           15px;
    // }
  }
}
