<!-- <article>
  <h4>Hello, I am the navigation bar!</h4>
</article> -->
<article class="nav">
  <section class="color-bar"></section>
  <section class="content">
    <div class="blurb">
      <h1><a href="/">Emily Gorey</a></h1>
      <!-- <h4>---------------------------</h4> -->
      <ul class="list-unstyled">
        <li><a class="{{ page.about_active }}" href="/about">about</a></li>
        <li><a class="{{ page.resume_active }}" href="/resume">resume</a></li>
        <li><a class="{{ page.portfolio_active }}" href="/portfolio">portfolio</a></li>
        <br>
        <li><a class="{{ page.blog_active }}" href="/blog">blog</a></li>
        <li><a class="{{ page.contact_active }}" href="/contact">contact</a></li>
      </ul>
    </div>
  </section>
</article>
