@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');


html {
  font-size: 62.5%
}

body {
  font-family: $base-font-family;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-weight: bold;
}

a {
  &:hover {
    text-decoration: none;
  }
}
