<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    <div class="container-fluid">
      <div class="row">
        <article class="col-lg-4 navbar-wrapper">
          {% include _navbar.html %}
        </article>
        <article class="col-lg-8 content-wrapper">
          <article class="blog">
            <div class="heading">
              <h1>{{ page.title }}</h1>
              <h3>By {{ page.author }} • {{ page.date | date_to_string }}</h3>
              {% if page.optional_top_banner_img != null %}
                <img class="banner" src="{{ site.url }}/blog/img/{{ page.optional_top_banner_img }}" alt="">
              {% endif %}
            </div>
            <div class="content">
              {{ content }}
            </div>
            <div class="">
              {% if page.optional_top_banner_img != null %}
                <img class="banner" src="{{ site.url }}/blog/img/{{ page.optional_bottom_banner_img }}" alt="">
              {% endif %}
            </div>
            <div class="gallery">
                {% for image_url in page.optional_gallery_img_list %}
                <a href="#" data-featherlight="{{ site.url }}/blog/img/{{ image_url }}">
                  <img src="{{ site.url }}/blog/img/{{ image_url }}" alt="">
                </a>
                {% endfor %}
            </div>

          </article>
        </article>
      </div>
    </div>
    {% include _footer.html %}
    {% include _scripts.html %}
  </body>
</html>
